$gutter: 2em;
$line-height: 2em;
$bg-color: gray;
$text-color: white;

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: arial;
  font-size: $line-height;
}

a {
  text-decoration: none;
}

img {
  border-radius: $gutter/2;
  margin: $gutter/4;
}

.gallery {
  margin: 0 $gutter*4;
  text-align: center;
}

.welcome {
  text-align: center;
  margin: $gutter*2 auto 0;
}
