$gutter: 2em;
$bg-color: gray;

body {
  background-color: $bg-color;
}

a {
  text-decoration: none;
}

img {
  border-radius: $gutter/2;
  margin: $gutter;
}

.gallery {
  margin: 0 $gutter*4;
  text-align: center;
}
