---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=default&per_page=500&page=1&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1,"perpage":500,"total":"2","photo":[{"id":"5678"},{"id":"1234"}]},"stat":"ok"}'
  recorded_at: Sun, 21 Sep 2014 00:51:26 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=1234&method=flickr.photos.getSizes&format=json&nojsoncallback=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"sizes":{"size":[{"label":"Square",
        "width":75, "height":75, "source":"https:\/\/somefarm.com\/5555\/image_1234_s.jpg",
        "url":"https:\/\/somepage.com\/photos\/default\/6666\/sizes\/sq\/",
        "media":"photo"}, {"label":"Large Square", "width":"150", "height":"150",
        "source":"https:\/\/somefarm.com\/5555\/image_1234_q.jpg",
        "url":"https:\/\/somepage.com\/photos\/default\/6666\/sizes\/q\/",
        "media":"photo"}, {"label":"Thumbnail", "width":"100", "height":"67", "source":"https:\/\/somefarm.com\/5555\/image_1234_t.jpg",
        "url":"https:\/\/somepage.com\/photos\/default\/6666\/sizes\/t\/",
        "media":"photo"}, {"label":"Small", "width":"240", "height":"160", "sour[...]
[...]
